
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Generate Prime Numbers in a range</title>
</head>
<body>
    <h1>Generate prime numbers in a given range</h1>
    <div> 
    </div>
</body>
</html>
